<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>SMARTROLL</title>
    <script src="https://cdn.tailwindcss.com"></script>
  </head>
  <body>
    <div
      class="h-screen bg-center bg-no-repeat sm:p-10 p-2"
      style="background: black"
    >
      <section
        class="w-full h-full flex justify-center items-center rounded-md bg-clip-padding backdrop-filter backdrop-blur-sm bg-opacity-20 border border-gray-100">
        <div class="text-white sm:w-full w-75">
          <form
          method="post"
            class="max-w-sm mx-auto"
            autocomplete="off"
            onsubmit="callApi(event)"
          >
            <div
              class="relative z-0 border-b-2 border-slate-500 w-full mb-5 group"
            >
              <input
                type="password"
                name="password"
                id="floating_password2"
                class="block py-2.5 px-0 w-full text-sm bg-transparent border-0 border-b-2 border-gray-300 appearance-none text-white dark:border-gray-600 dark:focus:border-blue-500 focus:outline-none focus:ring-0 focus:border-blue-600 peer"
                placeholder=""
                required
              /><label
                for="floating_email"
                class="peer-focus:font-medium absolute text-sm text-gray-500 dark:text-gray-400 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:start-0 rtl:peer-focus:translate-x-1/4 rtl:peer-focus:left-auto peer-focus:text-blue-600 peer-focus:dark:text-blue-500 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6"
                >Password</label
              >
            </div>
            <div
              class="relative z-0 border-b-2 border-slate-500 w-full mb-5 group"
            >
              <input
                type="password"
                name="confirm_password"
                id="floating_password"
                class="block py-2.5 px-0 w-full text-sm bg-transparent border-0 border-b-2 border-gray-300 appearance-none text-white dark:border-gray-600 dark:focus:border-blue-500 focus:outline-none focus:ring-0 focus:border-blue-600 peer"
                placeholder=""
                required
              /><label
                for="floating_email"
                class="peer-focus:font-medium absolute text-sm text-gray-500 dark:text-gray-400 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:start-0 rtl:peer-focus:translate-x-1/4 rtl:peer-focus:left-auto peer-focus:text-blue-600 peer-focus:dark:text-blue-500 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6"
                >Confirm Password</label
              >
            </div>
            <div class="row">
              <div class="col">
                <button
                  type="submit"
                  class="w-full mt-5 focus:ring-4 font-medium rounded-lg text-sm w-full sm:w-full px-5 py-2.5 text-center text-slate-300"
                  style="border: 1px solid rgb(255, 163, 26)"
                >
                  Activate Account
                </button>
              </div>
            </div>
          </form>
        </div>
      </section>
    </div>
  </body>
  <script>
    async function callApi(event) {
    event.preventDefault();

    const password = event.target.password.value;
    const cpassword = event.target.confirm_password.value;

    if (!password || !cpassword) {
        alert("Please Enter Both Password and Confirm Password");
        return;
    }

    if (password !== cpassword) {
        alert("Passwords do not match");
        return;
    }
    const pathname = window.location.pathname;        
    const [,,teacher_slug ] = pathname.split('/')
    var myHeaders = new Headers();
    myHeaders.append("Content-Type", "application/json");
    myHeaders.append('ngrok-skip-browser-warning', true);
    var raw = JSON.stringify({
        "teacher_slug": teacher_slug,
        "password":password
    });
    var requestOptions = {
        method: 'POST',
        headers: myHeaders,
        body: raw,
        redirect: 'follow'
    };
    fetch("/manage/activate_teacher_acount/", requestOptions)
    .then(response => response.json())
    .then((result) => { 
        if(result.data){
            alert('Your account has been activated!!'); 
            window.location.href = '/'
        }else{            
            alert(result.message)
        }
    })
    .catch((error) => {alert(error.message)});
}
  </script>
</html>
